.counter-container {
    border: black 2px solid;
    border-radius:20px;
    box-shadow: 5px 10px #888888;
    margin: 20px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    width:fit-content;
}

.number-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.number {
    font-size: 70px;
    align-self:center;
}

.button {
    color: blue;
    font-size: xx-large;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stats-container {
    text-align: left;
}
